/* Common styles for all media screens */
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: sans-serif;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

/* Hompage cards */

.homePageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 5px solid red; */
}


.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  /* border: 5px solid rgb(51, 255, 0); */
}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /* perspective: 1000px; */
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  border: 2px solid #394867;
}

.flip-card-front {
  background-color: grey;
  color: black;
}

.flip-card-back {
  background-color: #394867;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-fluid {
  width: 80%;
  height: auto;
  border-radius: 50%;
}

.fs-4 {
  font-size: 1.5rem;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #888;
  margin: auto;
  padding: 20px;
  border: 2px solid #394867;
  width: 80%;
  max-width: 600px;
  color: black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #394867;
}

.pagination li button:focus,
.pagination li button:hover {
  color: #0056b3;
}

.pagination li.active button {
  background-color: #394867;
  color: #fff;
  cursor: default;
}

/* Country page */

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #394867;
}

.table th {
  background-color: #f2f2f2;
}

/* PieChart */

.PieChart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ddd', ' #ddd', ' #ddd;
  height: 100vh;
  animation: pulse 2s;
}

.PieChart-title {
  font-size: 32px;
  margin-bottom: 20px;
}

canvas {
  margin-top: 50px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Login/Register */

.registerLoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 8px ;
  margin: 20px;
  background-color: #394867;
  border-radius: 10px;
border: 2px solid red;
}



input[type="text"],
select [id="options"] {
  padding: 8px 8px ;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #394867;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 5rem 2rem;
  background-color: #f1f1f1;
  border-radius: 10px;
}

button[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #394867;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background: #6cf0c2;
}



/* Covid19Cases Page / Cards */

.newCaseContainer{
  border: 2px solid black;
}

.headerButton{
  margin: 10px;
  border: 2px solid greenyellow; 
}



.cardContainer{
display: flex;
justify-content: center;
margin: 10px;
border: 2px solid red;
}




.cardBox {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.current-date {
  font-size: 14px;
  margin-top: 10px;
}

/* Media Queries */


/* For screen sizes up to 768px (Mobile) */

@media screen and (max-width: 600px) {
  body {
    color: blue;
  }

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    border: 5px solid rgb(51, 255, 0);
  }

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 10px;
  }

  .PieChart-container {
    width: 100%;
    max-width: 400px;
  }
}



